
.div_button{
	background-color:#FF4000;
	margin-left:5px;  
	width:100px;
	display: inline-block;
	font-size: 12px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
	 margin-top: 15px;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.div_button_img{
	width: 25px;
	height:25px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 4px;
	}

.model_addnew{
    background-color:black;
    background: rgba(0, 0, 0, 0.6);
    width: 650px;
    height: 600px;
    margin-left:150;
}
.user_edit{
	width: 410px;
    height: 200px;
}
.user_pass{
	width: 410px;
	height:400px;
}

.modal_input{
    width: 50px;
    margin-top: -25;
    margin-top: 0;
}

.modal_label{
	color:red;
    margin-top: 0;
}

.modal_btn{
    background-color:#FF4000; 
    align:inline;
}

.ext_form{
    height:30px;
}

.ext_input{
    margin-left: 150px;
    margin-top:-25;
    margin-top: -28;
}

.ext_addbtn{
    background-color:#FF4000;
    fload:right;
    margin-bottom:15px;
}
.form-group form input[type="text"]:hover{
    box-shadow: 0 0 1em #FF0000;
}

.input_box{
    width: 410px;
    height: 40px;
    align:inline;
    margin-top: 20px;
}