@import url(https://fonts.googleapis.com/css?family=Raleway);
*{font-family:Raleway;}

body{
    color:#1f1f1f;
}

ul{
    text-decoration: none;
    list-style: none;
    padding:0;
}

ul li{
    list-style: none;
}
.rgt{
    overflow: hidden;
}

.recent-activity{
    height: 100px;
    color:#1f1f1f;
}

.recent-activity h3{
    color:#1f1f1f;
    text-align: left;
}

.recent-activity ul li{
    float: left;
}

.recent-activity ul li:last-child{
    padding-left:10px;
}

.recent-activity ul li h4{
    margin:0;
    color:#1f1f1f;
}

.sub-menu{
    height:48px;
    padding:0;
}

.sub-menu .nav{
    padding:0;
}

.sub-menu .nav>li>a{
    color:#1f1f1f;
}

.sub-menu .nav>li>a:hover{
    border-bottom: 5px solid #f56d18;
    background: transparent;
}

.sub-menu .nav>li>a:focus{
    color:#f56d18;
    background: transparent;
}

.sub-menu li {
    font-family: Raleway sans-serif;
    font-weight: 900;
    float: left;
    font-size: 16px;
}

.sub-menu ul li:last-child{
    padding-left: 50px;
}

.home-tabheader{
    height:260px;
    background-color:#eeeeee;
    border-top: 2px solid #d5d5d5;
    border-bottom: 2px solid #d5d5d5;
}

.summary-circles .circles{
    height:200px;
}

.summary-circles .circles ul li {
    width: 25%;
    float: left;
    text-align:center;
}

.summary-circles .circles ul li div {
    display: inline-block;
    margin: 0 auto;
}

.summary-circles .center1{
    padding-top:8px;
}

.maps{
    height:580px;
    width:100%;
}

.map-menu{
    padding-top: 5px;
}

.map-menu .center{
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map-menu .nav>li>a{
    color:#1f1f1f;
}

.map-menu .nav>li>a:hover{
    background-color:#f56d18;
    color: #fff;
}

.map-menu .nav>li>a:focus{
    color:#f56d18;
}

.map-menu li {
    font-family: Raleway sans-serif;
    font-weight: 900;
    float: left;
    font-size: 16px;
}

.map-menu ul li:last-child{
    padding-left: 50px;
}

/*Home Notification Tab*/

.disaster-notify ul li i{
    font-size: 30px;
}

.disaster-notify ul li span{
    padding-left: 5px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color:#424141;
}

.disaster-notify ul{
    margin:0;
    line-height:5;

}

.disaster-notify ul .dis-snowslide{
    color:#9d610c;
}
.disaster-notify ul .dis-cracked2{
    color:#ff8400;
}
.disaster-notify ul .dis-fire14{
    color:#db1515;
}
.disaster-notify ul .dis-hurricane{
    color:#1bcb09;
}
.disaster-notify ul .dis-waves8{
    color:#00b4ff;
}
.disaster-notify ul .dis-tsunami1{
    color:#0054ff;
}
.disaster-notify ul .dis-erupting{
    color:#ffae00;
}

/*End Home Notification Tab*/