
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CAS</title>
 <script src="../../../public/javascripts/jquery.min.js"></script>
  <script src="../../../public/javascripts/popup.min.js"></script>

	<link href="../../../public/stylesheets/bootstrap.min.css" rel="stylesheet">-->
    <link href="../../../public/stylesheets/new.css" rel="stylesheet">
	
    <!--<link href="dashboard.css" rel="stylesheet">
    <script src="js/ie-emulation-modes-warning.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/npm.js"></script> -->

  </head>
<body>

<div class="row">
   <div class="col-md-2">
	 <div id="side">
	 <div id="name"><h1 style="color:#FF4000;margin-top: 7px;text-align: center;">CAS</h1></div>
	 <div id="profile">
		<img src="../../../public/images/default_male.jpg" alt="profile_pic" class="img-circle"
		style="width: 180px;height: 170px;margin-left: 10px;margin-top: 0px;">
		<h4 style="color:white;  text-align: center;">Logout</h4>
	 </div>
	 <hr style="border=2px;">
	 <div id="nav">
		<div>
		<ul class="nav nav-pills nav-stacked">
<li role="presentation"><a href="#" style="color:white;">HOME</a></li>
  <li role="presentation"><a href="#" style="color:white;">DISASTERS</a></li>
  <li role="presentation"><a href="#" style="color:white;">ALERTS</a></li>
  <li role="presentation"><a href="#" style="color:white;">E-MAILS</a></li>
  <li role="presentation" class="active"><a href="#" style="color:white;">ADMIN PANEL</a></li>
</ul>
		</div>
	 </div>
	
	</div>
</div>
   
  <div class="col-md-10">
	<div id="layout">
	
	  <div id="head">	
		<div style="float:left;"><button class="btn btn-default" type="submit" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;" ><img src="../../../public/images/list_lines.png"></button></div>
	  
		<div id="custom-search-input" style="width:800px;float:left;margin-left:5px;">
            <div class="input-group col-md-12">
                <input type="text" class="  search-query form-control" placeholder="Search for Employee ...." style="padding-top: 0px;padding-bottom: 0px;height: 42px;"/>
            </div>
          </div>
		  
		<div style="float:left;"><button class="btn btn-default" type="submit" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; margin-left:5px; margin-right:5px;" ><img src="../../../public/images/bell_sticker.png" style="width: 40px;height:40px"></button></div>
		
		<div style="float:left;height:42px;width:350px;border-radius: 2px;border: 1px solid gray;"></div>
	 </div>
	 <div id="recent">
	    <h2 style="float:left;">ADMINISTRATION PANEL</h2>
		
		<div style="float:right;"><button class="btn btn-default" data-toggle="modal" data-target="#myModal" type="button" style=" background-color:#FF4000; padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; margin-left:5px;  width:130px" ><img src="../../../public/images/Add_user.png" style="width: 40px;height:40px;margin-top: 5px;">Add New</button></div>
		
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
    
			<!-- Modal content-->
				<!--<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
					</div>
					<div class="modal-body">
					<p>Some text in the modal.</p>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>-->
				
				<div class="row">
  <div class="col-md-8 col-md-offset-2" style="background-color:black;background: rgba(0, 0, 0, 0.6);height:500px;">
  
	<h4 style="color:white;text-align:left;">ADD USER</h4>
           <form class="form-horizontal" action="addnew.php"  method="post">
        <div class="form-group">
            <div class="col-xs-10">
                <input type="name" name="formName" class="form-control" align="center"style="margin-left: 40px;"  placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10">
                <input type="email" name="formEmail" class="form-control" align="center"style="margin-left: 40px;" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10">
                <input type="nic" name="formNIC" class="form-control" align="center"style="margin-left: 40px;" placeholder="NIC number">
            </div>
        </div>
		<div class="form-group">
            <div class="col-xs-10">
                <input type="Mobile" class="form-control" name="formMobile" align="center"style="margin-left: 40px;" placeholder="Mobile number">
            </div>
        </div>
		<div class="form-group">
            <div class="col-xs-10">
                <input type="address" class="form-control" name="formAddress" align="center"style="margin-left: 40px;" placeholder="Adress">
            </div>
        </div>
		<div class="form-group">
            <div class="col-xs-10">
                <div class="col-xs-5 selectContainer">
            <select class="form-control" name="size" align="center"style="margin-left: 40px;margin-left: 25px;width:320px;" >
                <option value="">Role</option>
                <option value="Gu">General User</option>
                <option value="Ou">Operational User</option>
                <option value="Eu">Executive User</option>
            </select>
        </div>
            </div>
        </div>
		<div>
			<div class="fileupload fileupload-new" data-provides="fileupload">
			<div class="fileupload-preview thumbnail" style="width: 100px; height: 100px;margin-left: 40px;">
			<div style="margin-left: 100px;">
			<span class="btn btn-file" name="image"><span class="fileupload-new" style="margin-right: 100px;">Select image</span>
			<span class="fileupload-exists" style="margin-right:100px;">Change</span><input type="file" /></span>
			<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
			</div>
			</div>
		</div>
		 <div class="form-group">
             <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary" name="formSubmit" onClick="f_validateForm()" value="Submit" Style="background-color:#FF4000; fload:right;margin-left: 240px;">Add</button>
             </div>
        </div>
    </form>
        </div>
		</div>
  </div>
      
    </div>
  </div>
  
	 </div>
	   
		
	<div>
		<table class="table" >
		<thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Title</th>
                <th>Role</th>
				<th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>916191197v</td>
                <td>Dilini Weerasinghe</td>
                <td>Director</td>
                <td>Admin</td>
				<td></td>	
            </tr>
            <tr>
                <td>921402210v</td>
                <td>Thusitha Thiushan</td>
                <td>Executive Manager</td>
                <td>User 1</td>
				<td></td>
            </tr>
        </tbody>
    </table>	
	</div>
	 </div>
	 
	</div>
   </div>
   
  </div>
	
</div>

<div id="footer">
Common Alert System
</div>

</body>
</html>