
.dis-cracked2:before { content: '\e800'; } /* '' */
.dis-erupting:before { content: '\e801'; } /* '' */
.dis-fire14:before { content: '\e802'; } /* '' */
.dis-hurricane:before { content: '\e803'; } /* '' */
.dis-raindrops2:before { content: '\e804'; } /* '' */
.dis-river3:before { content: '\e805'; } /* '' */
.dis-snowslide:before { content: '\e806'; } /* '' */
.dis-tsunami1:before { content: '\e807'; } /* '' */
.dis-waves8:before { content: '\e808'; } /* '' */
.dis-sign51:before { content: '\e809'; } /* '' */